@font-face {
    font-family: 'Archivo';
    src:    url('../fonts/Archivo-Regular.woff2') format('woff2'),
            url('../fonts/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src:    url('../fonts/Archivo-Bold.woff2') format('woff2'),
            url('../fonts/Archivo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces';
    src:    url('../fonts/Fraunces72pt-Light.woff2') format('woff2'),
            url('../fonts/Fraunces72pt-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}